.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar-item-content {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item2 {
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-dark-gray);
    font-size: 1.2rem;
    font-weight: 500;
}