.table-header {
    background-color: var(--color-black);
    height: 4rem;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 500;
}

.table-header tr {
    box-shadow: var(--box-shadow);
}